
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: #252829;
}

h2{
    color: #100f10;
    font-size: 15vw;
    text-transform: capitalize;
    -webkit-text-stroke: 1.4px white;
    position: relative;
    overflow: hidden;
}
h2::before{
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    border-right: 2px green solid;
    content: attr(data-text);
    -webkit-text-stroke: 0px white;
    animation: animate 6s linear infinite;
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600); 
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    } 
    70%,90%{
        width: 100%;
    }
}
